:root {
  --pri: white;
  --sec: black;
  --tri: lightseagreen;
  --four: #7aa2e3;
  --five: #f8f6e3;
  --six: #595956;
  --seven: rgb(235, 21, 21);
}

@font-face {
  font-family: aeonik;
  src: url(./AeonikTRIAL-Light.otf);
  font-weight: 200;
}
@font-face {
  font-family: aeonik;
  src: url(./AeonikTRIAL-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: aeonik;
  src: url(./AeonikTRIAL-Bold.otf);
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: aeonik;
  color: var(--pri);
}
html,
body {
  height: 100%;
  width: 100%;
}

.main {
  height: 100%;
  width: 100%;
  background-color: var(--sec);
}

nav {
  width: 100%;
  height: 40px;
  background-color: var(--four);
}

.allFeatures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 2.5rem;
  position: absolute;
}

.elem {
  height: 25rem;
  width: 20.62rem;
  border-radius: 0.625rem;
  overflow: hidden;
  position: relative;
  background-color: var(--five);
  -webkit-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  transition: all ease 0.2s;
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}
.elem img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.elem h2 {
  position: absolute;
  bottom: 4%;
  right: 5%;
  font-weight: 400;
  font-size: 2rem;
}

.elem:active {
  scale: 0.97;
}

.fullElem {
  height: 100%;
  width: 100%;
  background-color: var(--tri);
  display: none;
  padding: 2.5rem;
  position: absolute;
  top: 0;
  z-index: 99;
  transition: all ease 0.3s;
}

.back {
  position: absolute;
  right: 10%;
  padding: 0.875rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--seven);
  font-size: 1.2rem;
  font-weight: 200;
  cursor: pointer;
}
.back:active {
  scale: 0.97;
  transition: all ease 0.2s;
}

.todo-list-fullpage {
  background-color: var(--six);
}
.todo-list-fullpage h2 {
  font-size: 2rem;
}

.todo-list-fullpage .todo-container {
  height: 80%;
  width: 100%;
  margin-top: 2rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}
.todo-list-fullpage .todo-container .addTask {
  height: 100%;
  width: 35%;
  border-radius: 1rem;
  background-color: var(--four);
}
.todo-list-fullpage .todo-container .allTask {
  height: 100%;
  width: 75%;
  border-radius: 1rem;
  background-color: var(--four);
  padding: 2rem;
  overflow: auto;
}

.todo-list-fullpage .todo-container .addTask form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  
}

.todo-container .addTask form input#task-inp {
  padding: 1.2rem 2rem;
  width: 100%;
  font-size: 1.5rem;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: var(--pri);
  color: var(--sec);
  margin-bottom: 1.25rem;
  font-weight: 400;
}
.todo-container .addTask form textarea {
  padding: 1.2rem 2rem;
  width: 100%;
  font-size: 1.5rem;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: var(--pri);
  color: var(--sec);
  margin-bottom: 1.25rem;
  font-weight: 400;
}

.todo-container .addTask form button {
  padding: 1.2rem 2rem;
  width: 100%;
  font-size: 1.5rem;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: var(--pri);
  color: var(--tri);
  margin-bottom: 1.25rem;
  font-weight: 600;
}

.todo-container .addTask form button:active {
  scale: 0.97;
  transition: all ease 0.3s;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: var(--five);
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
}

.task h5 {
  color: var(--sec);
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 5px;
}
.task button {
  padding: 15px 30px;
  color: var(--pri);
  background-color: var(--tri);
  font-size: 18px;
  border-radius: 5px;
  border: none;
  font-weight: 600;
}

.task button:active {
  scale: 0.96;
}

.mark{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding:1rem 0;
  margin-bottom: 1rem;
  gap: 0.3rem;
  
}